
/shelf/
/workspace.xml
/projectSettingsUpdater.xml
/.idea.UBlog.iml
/modules.xml
/contentModel.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Desktop.ini
.DS_Store
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
!*CommonReferences/*.dll
UpgradeLog.XML
_UpgradeReport_Files/
bin/
obj/
TestResults/
*.Publish.xml
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sqlite
.DS_Store?
Icon?
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.db
*.db-shm
*.db-wal
**/wwwroot